@font-face {
    font-family: 'Guardian Sans Web';
    font-weight: 200;
    src: url('assets/fonts/GuardianSansWeb-Light.woff'),
         url('assets/fonts/GuardianSansWeb-Light.woff2'),
         url('assets/fonts/GuardianSansWeb-Light.eot');
}

@font-face {
    font-family: 'Guardian Sans Web';
    font-weight: normal;
    src: url('assets/fonts/GuardianSansWeb-Regular.woff'),
         url('assets/fonts/GuardianSansWeb-Regular.woff2'),
         url('assets/fonts/GuardianSansWeb-Regular.eot');
}

@font-face {
    font-family: 'Guardian Sans Web';
    font-weight: bold;
    src: url('assets/fonts/GuardianSansWeb-Semibold.woff'),
         url('assets/fonts/GuardianSansWeb-Semibold.woff2'),
         url('assets/fonts/GuardianSansWeb-Semibold.eot');
}
