$c-off-white: #f6f6f6;
$c-light-grey: #dcdcdc;
$c-grey: #999;
$c-black: #212121;
$c-white: #fff;
$c-bluey-white: #e7edef;

$c-light-blue: #4bc6df;
$c-blue: #00456e;

$c-red: #e00000;
$c-yellow: #ffe500;