<div class='empty'>
    <h2 class='empty__message'>
        <strong>No new updates</strong>
    </h2>
</div>

<ul class='atoms atoms--main'>
    {{#if onboarding}}
        {{> includes/group onboarding }}
    {{/if}}

    {{#if notified}}
        {{> includes/group notified }}
    {{/if}}

    {{#each groups}}
        {{#unless isFaq}}
            {{> includes/group }}
        {{/unless}}
    {{/each}}
</ul>

{{#if hasFaqs}}
    <ul class='atoms atoms--faqs'>
        <h1 class='atoms__title'>What else is happening with this?</h1>
        {{#each groups}}
            {{#if isFaq}}
                {{> includes/group }}
            {{/if}}
        {{/each}}
    </ul>
{{/if}}
