<!DOCTYPE html>
<html>
    {{> structure/head }}

<body>
    {{> includes/devbar }}

    {{> includes/header }}

    {{#each days}}
        <ul class='atoms' data-date='{{ @key }}'>
            {{#each atoms}}
                <li class='atom atom--{{ type }}' data-timestamp='{{ timeStamp }}'>
                    <div class='atom__wrapper'>
                        {{#if title}}
                            <h2 class='atom__title'>{{ title }}</h2>
                        {{/if}}
                        {{#switch type}}
                            {{#case "text"}}
                                {{> atoms/text }}
                            {{/case}}
                            {{#case "quote"}}
                                {{> atoms/quote }}
                            {{/case}}
                            {{#case "image"}}
                                {{> atoms/image }}
                            {{/case}}
                            {{#case "tweet"}}
                                {{> atoms/tweet }}
                            {{/case}}
                            {{#case "video"}}
                                {{> atoms/video }}
                            {{/case}}
                            {{#case "graphic"}}
                                {{> atoms/graphic }}
                            {{/case}}
                        {{/switch}}
                    </div>
                    <span class='atom__timestamp'>{{ time }} {{ date }}</span>
                </li>
            {{/each}}
        </ul>
    {{/each}}

    <script type="text/javascript" src="./main.js"></script>
</body>
</html>
