<div class='atom-bio__headshot'>
    <img class='atom-bio__image' src='https://d3vv6lp55qjaqc.cloudfront.net/items/2e070t0b1k2c1t183i3R/munoz.png?X-CloudApp-Visitor-Id=1215208&v=db21a2ac' />
</div>

<div class='atom-bio__name'>Oscar Munoz, CEO of United Airlines</div>

<ul class='atom-bio__table'>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Estimated Worth</span>
        <span class='atom-bio__copy'>$325million</span>
    </li>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Previously worked at</span>
        <span class='atom-bio__copy'>Coca-Cola, AT&T</span>
    </li>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Description</span>
        <span class='atom-bio__copy atom__copy'>{{{ copy }}}</span>
    </li>
</ul>
