<img class='atom-bio__image' src='https://media-imgops.gutools.co.uk/5/3/c/a/b/2/53cab23eba9e4caaad452aaef3d6c0db3cb82b4e?response-content-disposition=attachment%3B%20filename%3D%22%5BB%4052d64fde%22%3B%20filename%2A%3DUTF-8%27%2720170411.204419.web794303%2520%252853cab23eba9e4caaad452aaef3d6c0db3cb82b4e%2529.jpg&AWSAccessKeyId=AKIAI6PFAVK5SIS4FXJQ&Expires=1498507800&Signature=mjz3%2FZWYnswUwsymqcuJybuEeJw%3D&w=1680&h=1050&q=85' />
<div class='atom-bio__name'>Oscar Munoz, CEO of United Airlines</div>
<ul class='atom-bio__table'>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Estimated Worth</span>
        <span class='atom-bio__copy'>$325million</span>
    </li>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Previously worked at</span>
        <span class='atom-bio__copy'>Coca-Cola, AT&T</span>
    </li>
    <li class='atom-bio__row'>
        <span class='atom-bio__title'>Description</span>
        <span class='atom-bio__copy atom__copy'>{{{ copy }}}</span>
    </li>
</ul>