<div class='group{{#if groupType }} group--{{ groupType }}{{/if}}'>
    {{#each atoms}}
        <li class='atom atom--{{ type }}' data-timestamp='{{ timeStamp }}'>
            {{#if ../groupName}}
                <h2 class='atom__title'>{{ ../groupName }}</h2>
            {{else}}
                <h2 class='atom__title'>{{ title }}</h2>
            {{/if}}
            {{#switch type}}
                {{#case "text"}}
                    {{> atoms/text }}
                {{/case}}
                {{#case "quote"}}
                    {{> atoms/quote }}
                {{/case}}
                {{#case "image"}}
                    {{> atoms/image }}
                {{/case}}
                {{#case "tweet"}}
                    {{> atoms/tweet }}
                {{/case}}
                {{#case "video"}}
                    {{> atoms/video }}
                {{/case}}
                {{#case "graphic"}}
                    {{> atoms/graphic }}
                {{/case}}
                {{#case "bio"}}
                    {{> atoms/bio }}
                {{/case}}
            {{/switch}}
        </li>
    {{/each}}

    {{#if groupName}}
        <div class='group__expand-button'></div>
    {{/if}}
</div>
