<div class='header'>
    <div class='header__inner'>
        <h1 class='header__title'>{{ furniture.title }}</h1>
        <p class='header__stub'>{{ furniture.stub }}</p>
        <p class='header__updated'>
            Last updated: <span class='header__last-updated' data-time-stamp='{{ lastUpdated }}'></span>
            <a class='header__what' href='https://medium.com/the-guardian-mobile-innovation-lab/introducing-a-new-format-for-evolving-stories-281d2724b416'>About this format</a>
        </p>

        {{> includes/notifications }}
    </div>
</div>