<div class='notifications is-loading'>
    <div class='notification-button'>
        {{#if isWhite}}
            <img class='notification-icon notification-icon--on' src='assets/images/notifications-white--on.svg' />
            <img class='notification-icon notification-icon--off' src='assets/images/notifications-white--off.svg' />
        {{ else }}
            <img class='notification-icon notification-icon--on' src='assets/images/notifications--on.svg' />
            <img class='notification-icon notification-icon--off' src='assets/images/notifications--off.svg' />
        {{/if}}
    </div>

    <div class='notification-label notification-label--subscribed'>Notifications are on</div>
    <div class='notification-label notification-label--not-subscribed'><span>Notifications are off</span>Tap to receive notifications for story updates</div>
    <div class='notification-label notification-label--not-supported'>Notifications are not supported</div>
    <div class='notification-label notification-label--loading'>...</div>
</div>