<div class='notifications is-loading'>
    <div class='notification-button'>
        <img class='notification-icon notification-icon--on' src='assets/images/notifications--on.svg' />
        <img class='notification-icon notification-icon--off' src='assets/images/notifications--off.svg' />
    </div>

    <div class='notification-label notification-label--subscribed'>Notifications are on</div>
    <div class='notification-label notification-label--not-subscribed'>Notifications are off</div>
    <div class='notification-label notification-label--not-supported'>Notifications are not supported</div>
    <div class='notification-label notification-label--loading'>...</div>
</div>