<div class='notifications is-loading'>
    <div class='notification-button'>
        <img class='notification-icon notification-icon--on' src='assets/images/notifications--on.svg' />
        <img class='notification-icon notification-icon--off' src='assets/images/notifications--off.svg' />
    </div>

    <div class='notification-label notification-label--subscribed'>Tap to turn off notifications</div>
    <div class='notification-label notification-label--not-subscribed'><span>Take part</span>Tap to turn on notifications</div>
    <div class='notification-label notification-label--not-supported'>Notifications are not supported</div>
    <div class='notification-label notification-label--loading'>...</div>
</div>