<link rel="manifest" href="/manifest.json">
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
        appId: "849ca530-6a6d-4058-9d5e-4802b20c0654",
        autoRegister: true,
        notifyButton: {
            enable: false /* Set to false to hide */
        }
    }]);
</script>

<link rel="stylesheet" href="styles.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">