.atom-bio__headshot {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
}

.atom-bio__image {
    min-height: 100%;
    min-width: 100%;
}

.atom-bio__name {
    color: $c-light-blue;
    padding: 2px 0;
}

.atom-bio__table {
    padding: 0;
    width: 100%;
}

.atom-bio__row {
    display: flex;
    border-top: 1px dotted $c-grey;
    padding: 4px 0 12px;
}

.atom-bio__title {
    width: 140px;
    padding-right: 10px;
    flex-shrink: 0;
    color: $c-grey;
}