.atom-quote__block {
    margin: 0;
    quotes: "“" "”" "‘" "’";

    &:before {
        content: open-quote;
        font-family: 'Guardian Sans Web';
    }

    &:after {
        content: close-quote;
        font-family: 'Guardian Sans Web';
    }
}

.atom-quote__cite {
    display: block;
    color: $c-light-blue;
    font-style: normal;
}