.atoms {
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    padding: 0 10px;
    font-family: 'Guardian Sans Web';
}

.atom {
    position: relative;
    margin-bottom: 24px;
}

.atom__wrapper {
    position: relative;
    border: 2px solid $c-light-grey;
    padding: 4px 6px 24px;
    font-size: 16px;
    line-height: 22px;
    color: $c-black;
    background-color: $c-white;
}

.atom__title {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.atom__timestamp {
    margin-top: 6px;
    display: block;
    color: $c-grey;
    font-size: 14px;
}
