.atoms {
    margin: 0 auto;
    list-style: none;
    font-family: 'Guardian Sans Web';
    z-index: 5;
    position: relative;
    padding: 0 10px;
}

.atoms--faqs {
    background-color: mix($c-white, $c-light-blue, 95%);
    border-top: 2px solid $c-blue;
    padding-bottom: 48px;
    margin-top: 24px;

    .has-no-atoms & {
        display: none;
    }
}

.atoms__title {
    max-width: 400px;
    margin: 0px auto;
    padding: 0 10px;
    font-size: 24px;
    line-height: 28px;
    padding: 6px 0 24px;
    color: $c-blue;
}

.atom {
    position: relative;
    margin-bottom: 24px;
    transition: ease-out 0.5s margin-top, ease-out 0.5s background-color, ease-out 0.2s transform;
    position: relative;
    padding: 4px 6px 12px;
    font-size: 16px;
    line-height: 22px;
    display: none;
    color: $c-black;
    background-color: $c-light-grey;
}

.atom__weighting {
    position: absolute;
    top: -12px;
    right: -12px;
    color: $c-white;
    background-color: $c-black;
    border-radius: 50%;
    padding: 8px 15px;
    z-index: 10;
}

.atom__weighting--1 {
    background-color: #e31f26;
}

.atom__weighting--2 {
    background-color: #e6711b;
}

.atom__weighting--3 {
    background-color: #ffbb00;
}

.atom__weighting--4 {
    background-color: #aad801;
}

.atom__weighting--5 {
    background-color: #69d1ca;
}

.atom--visible {
    display: block;
}

.atom + .atom--text,
.atom + .atom--quote {
    padding-top: 6px;

    &:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 6px;
        right: 6px;
        height: 1px;
        margin: auto;
        background-color: darken($c-light-grey, 5%);
    }
}

.atom__title {
    font-size: 16px;
    font-weight: bold;
    color: $c-blue;
    margin: 0;
}

.atom--visible + .atom--visible .atom__title {
    display: none;
}
