.atoms {
    margin: 0 auto;
    list-style: none;
    font-family: 'Guardian Sans Web';
    z-index: 5;
    padding-left: 0;
    position: relative
}

.atom {
    position: relative;
    margin-bottom: 24px;
    transition: ease-out 0.5s margin-top, ease-out 0.5s background-color, ease-out 0.2s transform;
    position: relative;
    padding: 4px 6px 6px;
    font-size: 16px;
    line-height: 22px;
    color: $c-black;
    background-color: $c-light-grey;
}

.atom + .atom--text,
.atom + .atom--quote {
    padding-top: 6px;

    &:before {
        content: '';
        position: absolute;
        top: 1px;
        left: 6px;
        right: 6px;
        height: 1px;
        margin: auto;
        background-color: darken($c-light-grey, 5%);
    }
}


.atom__title {
    font-size: 16px;
    font-weight: bold;
    color: $c-blue;
    margin: 0;
}

.atom + .atom .atom__title {
    display: none;
}

.atom__timestamp {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    margin-top: 12px;
    display: block;
    color: $c-grey;
    font-size: 14px;
    line-height: 1;
}
