.atom-quote__block {
    margin: 0;
}

.atom-quote__cite {
    display: block;
    color: $c-light-blue;
    font-style: normal;
}

.atom-quote__quote-mark {
    width: 40px;
    display: block;
    margin: 3px 0;
}