.empty {
    display: none;
    max-width: 400px;
    padding: 0 10px;
    margin: 0 auto;

    .is-empty & {
        display: block;
    }
}

.empty__message {
    margin-top: 12px;
    font-family: 'Guardian Sans Web';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $c-grey;

    strong {
        display: block;
    }
}

.empty {
    .notifications {
        font-family: 'Guardian Sans Web';
        font-size: 16px;
        line-height: 22px;
        color: $c-light-blue;
    }

    .notification-button {
        background-color: $c-light-blue;
    }
}