.group__expand-button {
    background-image: url('assets/images/expand.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-color: $c-light-blue;
    margin: 0 auto;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin-top: -26px;
    z-index: 2;
    position: relative;
    display: none;
}

.group {
    overflow: hidden;
    border-top: 1px solid $c-blue;
    max-width: 400px;
    margin: 0 auto;
}

.group--expanded {
    margin-bottom: 24px;

    .atom {
        margin-bottom: 0px;
    }
}

.group--collapsed {
    margin-bottom: 12px;

    .atom--visible {
        margin-bottom: 0;
    }

    .atom--visible + .atom--visible + .group__expand-button {
        display: block;
    }

    @for $i from 1 through 8 {
        .atom--visible[data-shrink='#{$i}'] {
            background-color: darken($c-light-grey, $i * 2%);
            transform: scale(-($i) * 0.02 + 1, 1);

            .atom__timestamp {
                opacity: 0;
            }
        }
    }
}

.group--additional {
    margin-bottom: 24px;
    opacity: 0.5;

    .atom {
        margin-bottom: 0px;
    }
}

.group--hidden {
    display: none;
}
