.group__expand-button {
    background-image: url('assets/images/expand.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    background-color: $c-yellow;
    margin: 0 auto;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 36px;
    margin-top: 16px;
    z-index: 12;
    position: relative;
    display: none;
}

.group {
    position: relative;
    overflow: hidden; // This is added to prevent tall collapsed atoms from popping out
    border-top: 1px solid $c-black;
    max-width: 400px;
    margin: 0 auto;

    &:before {
        content: '';
        height: 1.45em;
        width: 1px;
        background-color: $c-black;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 0;
    }

    @for $i from 1 through 4 {
        .atom[data-shrink='#{$i}'] {
            transition-delay: 0.1s * $i;
            z-index: ($i - 9) * -1;
        }
    }
}

.group--expanded {
    margin-bottom: 24px;

    .atom {
        margin-bottom: 0px;
    }
}

.group--collapsed {
    position: relative;
    margin-bottom: 12px;

    .atom {
        margin-bottom: 0;
        z-index: 10;
    }

    .atom + .atom + .group__expand-button {
        display: block;
    }

    @for $i from 1 through 4 {
        .atom[data-shrink='#{$i}'] {
            position: absolute;
            background-color: darken($c-off-white, $i * 2%);
            transform: scale(-($i) * 0.02 + 1, 1);
            bottom: 32px - ($i * 6px);
            z-index: ($i - 9) * -1;
        }
    }

    @for $i from 5 through 8 {
        .atom[data-shrink='#{$i}'] {
            opacity: 0;
            display: none;
        }
    }
}

.group--onboarding {
    background-color: $c-white;
    border: 1px solid $c-light-grey;
    margin-bottom: 24px;

    &:before {
        display: none;
    }

    .atom {
        background-color: $c-white;
        margin-bottom: 6px;
    }

    .atom__title {
        display: inline;
        color: $c-black;
        background: linear-gradient(to bottom, $c-yellow 0%, $c-yellow 50%, $c-yellow 100%);
        box-shadow: -6px 0 0 0 #ffe500;
        margin-top: 3px;
        padding-bottom: 2px;
        padding-right: 3px;
    }

    .atom__copy {
        margin-top: 6px;
    }
}

.group--additional {
    margin-bottom: 24px;
    opacity: 0.5;

    .atom {
        margin-bottom: 0px;
    }
}
