.header {
    background-color: $c-light-blue;
    color: $c-white;
    padding-bottom: 48px;
    font-family: 'Guardian Sans Web';
    margin-bottom: -42px;
}

.header__inner {
    max-width: 400px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__title {
    margin: 0;
    padding: 6px 48px 12px 0;
    font-size: 38px;
    font-weight: bold;
    background-image: url('assets/images/roundel.svg');
    background-size: 36px;
    background-position: right 8px;
    background-repeat: no-repeat;
}

.header__stub {
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
}

.header__updated {
    position: relative;
}

.header__what {
    position: absolute;
    right: 0;
    color: $c-white;
    text-decoration: none;
    border-bottom: 1px solid $c-white;

    &:hover {
        opacity: 0.8;
    }
}
